* {
    font-family: "Arial", serif;
}

body {
    background-color: lightcyan;
}

img {
    height: 600px;
    width: auto;
}

h1 {
    text-align: center;
}

.list {
    background-color: lightgoldenrodyellow;
    text-align: center;
    margin: auto;
}

.home {
    margin: auto;
}